<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231600643707-1k3ech50nkug99f8qiru35bta0vfpm0u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231600643707-el7695217fulu6o4ajrkocnj5hrqtoej</string>
	<key>API_KEY</key>
	<string>AIzaSyC0J89B-qb8-QkI0D4SNy6s7VyfqrMcCvE</string>
	<key>GCM_SENDER_ID</key>
	<string>430988946578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mellowstudio.diarylist</string>
	<key>PROJECT_ID</key>
	<string>calendar-scheduler-d9bcd</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-scheduler-d9bcd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430988946578:ios:0a63d6d8c4baf958e50a4b</string>
</dict>
</plist>